@import url('fontawesome/font-awesome.min.css');
@import url('glyphicons-halflings/glyphicons-halflings.css');
 
@font-face {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: normal;	
	src: url("../fonts/MyriadPro-Regular.eot");       
    src: url("../fonts/MyriadPro-Regular.eot?#iefix") format('embedded-opentype'), 
    	 url("../fonts/MyriadPro-Regular.woff") format('woff'),
         url("../fonts/MyriadPro-Regular.ttf") format('truetype');
}

@font-face {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: bold;	
	src: url("../fonts/MyriadPro-Bold.eot");       
    src: url("../fonts/MyriadPro-Bold.eot?#iefix") format('embedded-opentype'), 
    	 url("../fonts/MyriadPro-Bold.woff") format('woff'),
         url("../fonts/MyriadPro-Bold.ttf") format('truetype');
}

@font-face {
	font-family: 'Myriad Pro';
	font-style: italic;
	font-weight: normal;	
	src: url("../fonts/MyriadPro-It.eot");       
    src: url("../fonts/MyriadPro-It.eot?#iefix") format('embedded-opentype'), 
    	 url("../fonts/MyriadPro-It.woff") format('woff'),
         url("../fonts/MyriadPro-It.ttf") format('truetype');
}








