 body {
 	-webkit-transform: rotate(-90deg);
 	-moz-transform: rotate(-90deg);
 	-o-transform: rotate(-90deg);
 	-ms-transform: rotate(-90deg);
 	transform: rotate(-90deg);
 	width: 112%;
 }
 /*video {
 	-webkit-transform: rotate(-90deg) !important;
 	-moz-transform: rotate(-90deg) !important;
 	-o-transform: rotate(-90deg) !important;
 	-ms-transform: rotate(-90deg) !important;
 	transform: rotate(-90deg) !important;
 	width: 100%;
 }*/