body{
    font-size: 2em;
    background:  #fc7c1f;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    overflow: hidden;
}
hr{
    border-top: 1px dotted #fff;
}

#wrapper>#container {
    position: relative;
    height: 100%;    
}
#wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;

}
#container.fixed-header {
    margin-top: 48px;
}

#container>#content>.container {
    width: 100%;
}

#content>.wrapper {
    -webkit-transition: margin ease-in-out .1s;
    -moz-transition: margin ease-in-out .1s;
    -o-transition: margin ease-in-out .1s;
    transition: margin ease-in-out .1s;
    position: relative;
}

.full-width-fix {
    width: 100%!important;
}
.rates_container.maximised{
    height: 100% !important;
    overflow-y: auto;
}
.rates_container{
    height:100%;
    background: rgb(0,0,0);
    color: #fff !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out; /* IE10 is actually unprefixed */
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; 

}
.breakpoint-480 #rates #marquee, .breakpoint-768 #rates #marquee{width: 100%;}
#rates #marquee{
    float:right;
    width:100% !important;
}

#all_rates{
    height: 100%;
    width:100%;
    padding: 0;
    overflow-y: auto;
}
#rates_type{
    display: none;
}
.dynamic-slide>.container{
    background: transparent;
}
.dynamic-slide {
  padding: 0 3em 3em;
}

.tabbable-custom>.tab-content {
    background-color: transparent;
    border: none;
}
.tabbable-custom>.nav-tabs>li>a, .tabbable-custom>.nav-tabs>li{
    border-radius: 100px !important;
    color: white;
    text-shadow: none;
}
.tabbable-custom>.nav-tabs>li.active>a{
    color: #8b2323;
}
.tabbable-custom>.nav-tabs>li>a:hover{
    color: #8b2323;
}

.nav-tabs li.pulsate{
    -moz-animation: 
    pulsateShadow .5s linear 1s infinite alternate;
    -webkit-animation: 
    pulsateShadow .5s linear 1s infinite alternate;
    animation: 
    pulsateShadow .5s linear 1s infinite alternate;
    
}
.nav-tabs li.active.pulsate{
    -moz-animation: none;
    -webkit-animation: none;
    animation: none;

}
.tabbable-custom>.nav-tabs>li>a {
    padding: 1px 1em;
}
.tabbable-custom{
    padding-top: 1em;
}

.pulsate{
    -moz-animation: 
    pulsateShadow .5s linear 1s infinite alternate;
    -webkit-animation: 
    pulsateShadow .5s linear 1s infinite alternate;
    animation: 
    pulsateShadow .5s linear 1s infinite alternate;
}
.touch-icon{
    position: fixed;
    bottom: 1em;
    left: 1em;
}

@-webkit-keyframes pulsateShadow{
    from {
        box-shadow: 0px 0px 10px rgba(250, 33, 33, 0.2);
    }

    to {
        box-shadow: 0px 0px 20px rgba(250, 33, 33,1);
    }
}
@-moz-keyframes pulsateShadow{
   from {
        box-shadow: 0px 0px 10px rgba(250, 33, 33, 0.2);
    }

    to {
        box-shadow: 0px 0px 20px rgba(250, 33, 33,1);
    }
}
@keyframes pulsateShadow{
    from {
        box-shadow: 0px 0px 10px rgba(250, 33, 33, 0.2);
    }

    to {
        box-shadow: 0px 0px 20px rgba(250, 33, 33,1);
    }
}